$textColor1:#232323;
$textColor2:#616265;
$textColor3:#8D8D8F;
$textColor4:#c00000;
$textColor5:#4b4b4d;
$textColor6:#0060BF;
$textColor7:#ffffff;
$textColor8:#0070bc;
$textColor9:#999999;
$textColor10:#19191A;

$bgColor1:#f7f7f7;
$bgColor2:#e5e5e5;
$bgColor3:#ffffff;
$bgColor4:#f4f4f4;
$bgColor5:#c00000;


$btnBgColor1:#c00000;
$btnBgColor2:#9b0912;
$btnBgColor3:#4b4b4d;
$btnBgColor4:#f2f2f2;
$btnBgColor4:#f2f2f2;
$btnBgColor5:#e5e5e5;
$btnBgColor6:#828282;



$borderColor1:#c00000;
$borderColor2:#e5e5e5;
$borderColor3:#4b4b4d;
$borderColor4:#9b0912;
$borderColor5:#eeeeee;
$borderColor6:#cccccc;
$borderColor7:#dedede;
$borderColor8: #eaeaea;
